<p>Lista de operações</p>

<p><%= link_to "Adicione um arquivo clicando aqui!", new_file_upload_path %></p>

<% if @transactions.present? %>
  <table>
    <tr>
      <th>Descrição</th>
      <th>Natureza</th>
      <th>Sinal</th>
      <th>Valor</th>
    </tr>
      <% @transactions.each do |t| %>
        <tr>
          <td><%= t.kind_transaction.description %></td>
          <td><%= t.kind_transaction.nature %></td>
          <td><%= t.kind_transaction.positive? ? "+" : "-" %></td>
          <td><%= t.value %></td>
        </tr>
      <%end%>
  </table>
  <p>Valor total disponível: <%= @value %></p>
  <%= will_paginate @transactions %>
<%else%>
  <span>Não há transações registradas para este usuário. Atualize a página!</span>
<%end%>


