<p>Lista de operações</p>

<table>
  <tr>
    <th>Descrição</th>
    <th>Natureza</th>
    <th>Sinal</th>
    <th>Valor</th>
  </tr>
  <% @transactions.each do |t| %>
    <tr>
      <td><%= t.kind_transaction.description %></td>
      <td><%= t.kind_transaction.nature %></td>
      <td><%= t.kind_transaction.signal %></td>
      <td><%= t.value %></td>
    </tr>
  <%end%>
</table>

<p>Valor total disponível: <%= %></p>

<%= will_paginate @transactions %>
